extends _layouts/base

include _modules/link/link

block content

		.container(style="margin-top: 10vh;")
		.ink-grid
			.column-group.horizontal-gutter

			.all-33.medium-100
				.column.push-center
					h1 Bom Dia Meia-Noite
					h2 An Inkblot Polyglot
					p
						img.logo(src="images/yeogurt-swirl.png", width="75px")

			.all-33.medium-100
				.column
					h1 Bom Dia Meia-Noite
					h2 Yeogurt Frozen in Time
					p
						img.logo(src="images/yeogurt-swirl.png", width="75px")

			.all-33.medium-100
				.column
					h1 Addio Mondo Crudele
					h2 Hyvästi Julma Maailma
					p
						img.logo(src="images/yeogurt-swirl.png", width="75px")

			.all-33.medium-100
				.column
					h1 Goodbye Columbus
					h2 Please Respond 
					p
						img.logo(src="images/yeogurt-swirl.png", width="75px")

			.all-33.medium-100
				.column
					h1 Bom Dia Meia-Noite
					h2 Polvo na Própria Tinta
					p
						img.logo(src="images/yeogurt-swirl.png", width="75px")

			.all-33.medium-100
				.column
					h1 Bom Dia Meia-Noite
					h2 Hypertext 	Penmanhip 
					p
						img.logo(src="images/yeogurt-swirl.png", width="75px")